.container {
    -fx-background-image: url("bg.jpg");
    -fx-background-repeat: stretch;   

    -fx-background-position: center center;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0); 
}